In [0]:
## Load Clean Table 
df = spark.table("crime_final_cluster.default.clean_crime")
df.show(5)
df.printSchema()

+---------+-------------+--------+--------+----+---------+-----------+--------+------+--------------------+-------------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+------------+-------+---------+--------+--------+---------+---------------+-----------+
|    DR_NO|date_reported|date_occ|time_occ|AREA|area_name|rpt_dist_no|part_1_2|crm_cd|         crm_cd_desc|            Mocodes|vict_age|vict_sex|vict_descent|premis_cd|         premis_desc|weapon_used_cd|weapon_desc|Status| status_desc|crm_cd_1|crm_cd_2|crm_cd_3|crm_cd_4|            LOCATION|cross_street|    LAT|      LON|occ_hour|occ_year|occ_month|occ_day_of_week|  age_group|
+---------+-------------+--------+--------+----+---------+-----------+--------+------+--------------------+-------------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+------------+-------+---------+--------+--------+---------+---------------+-----------+
|190326475|         NULL|    NULL|    2130|   7| Wilshire|        784|       1|   510|    VEHICLE - STOLEN|               NULL|       0|       M|           O|      101|              STREET|          NULL|       NULL|    AA|Adult Arrest|     510|     998|    NULL|    NULL|1900 S  LONGWOOD ...|        NULL|34.0375|-118.3506|      21|    NULL|     NULL|           NULL|      Child|
|200106753|         NULL|    NULL|    1800|   1|  Central|        182|       1|   330|BURGLARY FROM VEH...|     1822 1402 0344|      47|       M|           O|      128|BUS STOP/LAYOVER ...|          NULL|       NULL|    IC| Invest Cont|     330|     998|    NULL|    NULL|1000 S  FLOWER   ...|        NULL|34.0444|-118.2628|      18|    NULL|     NULL|           NULL|      Adult|
|200320258|         NULL|    NULL|    1700|   3|Southwest|        356|       1|   480|       BIKE - STOLEN|          0344 1251|      19|       X|           X|      502|MULTI-UNIT DWELLI...|          NULL|       NULL|    IC| Invest Cont|     480|    NULL|    NULL|    NULL|1400 W  37TH     ...|        NULL| 34.021|-118.3002|      17|    NULL|     NULL|           NULL|Young Adult|
|200907217|         NULL|    NULL|    2037|   9| Van Nuys|        964|       1|   343|SHOPLIFTING-GRAND...|          0325 1501|      19|       M|           O|      405|      CLOTHING STORE|          NULL|       NULL|    IC| Invest Cont|     343|    NULL|    NULL|    NULL|14000    RIVERSID...|        NULL|34.1576|-118.4387|      20|    NULL|     NULL|           NULL|Young Adult|
|220614831|         NULL|    NULL|    1200|   6|Hollywood|        666|       2|   354|   THEFT OF IDENTITY|1822 1501 0930 2004|      28|       M|           H|      102|            SIDEWALK|          NULL|       NULL|    IC| Invest Cont|     354|    NULL|    NULL|    NULL|   1900    TRANSIENT|        NULL|34.0944|-118.3277|      12|    NULL|     NULL|           NULL|Young Adult|
+---------+-------------+--------+--------+----+---------+-----------+--------+------+--------------------+-------------------+--------+--------+------------+---------+--------------------+--------------+-----------+------+------------+--------+--------+--------+--------+--------------------+------------+-------+---------+--------+--------+---------+---------------+-----------+
only showing top 5 rows
root
 |-- DR_NO: long (nullable = true)
 |-- date_reported: date (nullable = true)
 |-- date_occ: date (nullable = true)
 |-- time_occ: integer (nullable = true)
 |-- AREA: integer (nullable = true)
 |-- area_name: string (nullable = true)
 |-- rpt_dist_no: integer (nullable = true)
 |-- part_1_2: long (nullable = true)
 |-- crm_cd: integer (nullable = true)
 |-- crm_cd_desc: string (nullable = true)
 |-- Mocodes: string (nullable = true)
 |-- vict_age: integer (nullable = true)
 |-- vict_sex: string (nullable = true)
 |-- vict_descent: string (nullable = true)
 |-- premis_cd: integer (nullable = true)
 |-- premis_desc: string (nullable = true)
 |-- weapon_used_cd: integer (nullable = true)
 |-- weapon_desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- status_desc: string (nullable = true)
 |-- crm_cd_1: long (nullable = true)
 |-- crm_cd_2: long (nullable = true)
 |-- crm_cd_3: long (nullable = true)
 |-- crm_cd_4: long (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- cross_street: string (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)
 |-- occ_hour: long (nullable = true)
 |-- occ_year: integer (nullable = true)
 |-- occ_month: integer (nullable = true)
 |-- occ_day_of_week: string (nullable = true)
 |-- age_group: string (nullable = true)

In [0]:
## Crime per Year
from pyspark.sql.functions import count

df_by_year = (
    df.groupBy("occ_year")
      .agg(count("*").alias("total_crimes"))
      .orderBy("occ_year")
)

df_by_year.show()

+--------+------------+
|occ_year|total_crimes|
+--------+------------+
|    NULL|      955339|
+--------+------------+

In [0]:
## Top 10 Crime Types
df_top_crimes = (
    df.groupBy("crm_cd_desc")
      .agg(count("*").alias("crime_count"))
      .orderBy("crime_count", ascending=False)
      .limit(10)
)

df_top_crimes.show()

+--------------------+-----------+
|         crm_cd_desc|crime_count|
+--------------------+-----------+
|    VEHICLE - STOLEN|     104632|
|BATTERY - SIMPLE ...|      74583|
|BURGLARY FROM VEH...|      59155|
|   THEFT OF IDENTITY|      59054|
|VANDALISM - FELON...|      57929|
|            BURGLARY|      57573|
|ASSAULT WITH DEAD...|      53271|
|THEFT PLAIN - PET...|      49065|
|INTIMATE PARTNER ...|      46657|
|THEFT FROM MOTOR ...|      37525|
+--------------------+-----------+

In [0]:
## Crime by Area_Name
df_by_area = (
    df.groupBy("area_name")
      .agg(count("*").alias("crime_count"))
      .orderBy("crime_count", ascending=False)
)

df_by_area.show()

+-----------+-----------+
|  area_name|crime_count|
+-----------+-----------+
|    Central|      64737|
|77th Street|      59719|
|    Pacific|      55792|
|  Southwest|      54129|
|  Hollywood|      50035|
|N Hollywood|      48556|
|  Southeast|      48127|
|    Olympic|      47840|
|     Newton|      47125|
|   Wilshire|      45734|
|    Rampart|      44440|
|    West LA|      43509|
|   Van Nuys|      40830|
|  Northeast|      40661|
|West Valley|      40400|
| Devonshire|      39603|
|     Harbor|      39485|
|    Topanga|      39403|
|    Mission|      38244|
| Hollenbeck|      35156|
+-----------+-----------+
only showing top 20 rows

In [0]:
## Crimes by Age Group
df_by_age_group = (
    df.groupBy("age_group")
      .agg(count("*").alias("crime_count"))
      .orderBy("age_group")
)

df_by_age_group.show()

+-----------+-----------+
|  age_group|crime_count|
+-----------+-----------+
|      Adult|     312982|
|      Child|     270839|
|Middle-aged|     152997|
|     Senior|      30714|
|    Unknown|        124|
|Young Adult|     187683|
+-----------+-----------+

In [0]:
%sql
SELECT
  occ_year,
  COUNT(*) AS total_crimes
FROM crime_final_cluster.default.clean_crime
GROUP BY occ_year
ORDER BY occ_year

occ_year,total_crimes
null,955339

In [0]:
%sql
SELECT
  area_name,
  COUNT(*) AS total_crimes
FROM crime_final_cluster.default.clean_crime
GROUP BY area_name
ORDER BY total_crimes DESC

area_name,total_crimes
Central,64737
77th Street,59719
Pacific,55792
Southwest,54129
Hollywood,50035
N Hollywood,48556
Southeast,48127
Olympic,47840
Newton,47125
Wilshire,45734
Rampart,44440
West LA,43509
Van Nuys,40830
Northeast,40661
West Valley,40400
Devonshire,39603
Harbor,39485
Topanga,39403
Mission,38244
Hollenbeck,35156
Foothill,31814